#tooltip {
    z-index: 1000;
    pointer-events: none;
    background-color: #1e293b; /* slate-800 */
    color: #f8fafc; /* slate-50 */
    padding: 8px 12px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    font-size: 14px; /* Tamanho da fonte */
    opacity: 0.9; /* Opacidade */
    transition: all 0.3s ease; /* Transição suave */
}

#overlay {
    transition: opacity 0.3s ease;
}

#w-full.max-w-md {
    margin-right: 20px; /* Espaço entre a div e o calendário */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Garantir que ambos tenham a mesma altura */
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background-color: inherit; /* Mesma cor do background */
}

.info-box {
    background-color: #2d3748; /* Cor de fundo desejada */
    flex: 0 0 30%; /* 30% da largura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar {
    flex: 0 0 70%; /* 70% da largura */
    background-color: #1e293b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* Manter as propriedades específicas do FullCalendar */
.fc {
    height: 630px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .info-box, #calendar {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .info-box, #calendar {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }
}
